[Definition]
failregex = ^ [A-Z]+ for user .* from <HOST>\s+repeated login failures
            ^ [A-Z]+ login failures from <HOST>
            ^ [A-Z]+ failed password from <HOST> for .*
            ^ IMAP login failed for .* from <HOST>
            ^ POP3 login failed for .* from <HOST>
ignoreregex =