---
# Service configuration
traefik:
  acme_email: "admin@summitethic.europe"
  image: traefik:v2.9
  domain: "{{ domain }}"
  
mailcow:
  hostname: "mail.{{ domain }}"
  tz: UTC
  dbname: mailcow
  dbuser: mailcowuser
  dbpass: "{{ vault_mailcow_dbpass }}"
  dbroot: "{{ vault_mailcow_dbroot }}"
  redispass: "{{ vault_mailcow_redispass }}"
  additional_san: ""
  
monitoring:
  enabled: true
  domain: "{{ domain }}"
  prometheus_retention: "30d"
  slack_notifications: true
  email_notifications: true